<div class="row">
  <div class="col-md-12">
      <app-dashboard-nav></app-dashboard-nav>
  </div>
</div>
<div class="row small-pad-top">
  <div class="col-md-2 left-side">
    <app-dashboard-sidebar></app-dashboard-sidebar>
  </div>
  <div class="col-md-10 right-side">
    <!-- <app-dashboard-main *ngIf="loginState === '3'"></app-dashboard-main>
    <app-dashboard-init *ngIf="loginState === '1'"></app-dashboard-init> -->
    <app-usability-test-instructions *ngIf="!init"></app-usability-test-instructions>
    <div *ngIf="init">
        <h1>You're successfully logged in!</h1>
        <h3>You have already configured your account though, consider practicing using the link to the left</h3>
    </div>
  </div>
</div>