nav{
    padding-top:2vh;
    padding-bottom:2vh;
}

#logo a{
    color:#333;
}

#logo a:hover{
    color:#555;
}

ul#security-levels,
ul#sidebar,
ul#navigation {
    list-style: none;
    padding-left:0px;
}

#sidebar i{
    padding-right:10px;
}

#sidebar li{
    padding-bottom: 3px;
}

#security-levels li{
    display: inline-block;
    margin-right: 15px;
}

#navigation li{
    display: inline-block;
    margin-right:25px;
}

#security-levels input {
    display: none;
}

#security-levels label {
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgba(255,255,255,.25);
    border: 1px solid rgba(0,0,0,.3);
    transition: all 0.3s ease 0s;
}

#security-levels input:checked + label {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgba(255,255,255,.62);
    border: 1px solid rgba(19, 76, 122, 0.65);
}