<form (ngSubmit)="finalizeRegistration(finalizeRegistrationForm.value)" [@myAnimation] #contRegistrationForm="ngForm" *ngIf="!startForm">
    <label for="fname">Your lock and key combos:</label><br />
    <input  *ngFor="keyLockNum" required 
            ngModel lock name="lock{{ auth }}" 
            #lock{{ auth }}="ngModel" type="text" value="" 
            placeholder="{{ auth }}" style="width:20%">
    <input  *ngFor="keyLockNum" required 
            ngModel lock name="key{{ auth }}" 
            #key{{ auth }}="ngModel" type="text" value="" 
            placeholder="" style="width:50%">
    <!-- error for email -->
    <div    class="alert alert-danger" 
            *ngIf="fname.touched && !fname.valid">
            Make sure this is a valid email
    </div>
    <button type="submit">Next <i class="fas fa-angle-double-right fa-lg fa-alignWithText"></i></button>
</form>