<h1>Configure your account</h1>
<form *ngIf="testLevel === 1" (ngSubmit)="configPass(configurationPassForm)" #configurationPassForm="ngForm">
    <!-- if user is using a password -->
    <label for="tempPass">
        Temporary password:
    </label><br />
    <input  required
            ngModel
            password
            name="tempPass"
            #tempPass="ngModel"
            type="password"
            value=""
            placeholder="$tr0ngTEMPpasswordddd"
            style="width:70%">
    <br />
    <!-- error for tempPass -->
    <div class="alert alert-danger" *ngIf="tempPass.touched && !tempPass.valid">
        Make sure this is a strong password
    </div>

    <label for="confirmPass">
        Confirm password:
    </label><br />
    <input  required
            ngModel
            password
            name="confirmPass"
            #confirmPass="ngModel"
            (keyup)="validateRegistration(tempPass.value, confirmPass.value)"
            type="password"
            value=""
            placeholder="Confirm $tr0ngTEMPpasswordddd"
            style="width:70%">
    <i  class="fas fa-check-square fa-lg fa-alignWithText"
        style="color:rgba(255, 255, 255, .6);"
        *ngIf="confirmPass.touched && !validateRegistration(tempPass.value, confirmPass.value) === false">
    </i><br />
    <button type="submit">
        Next <i class="fas fa-angle-double-right fa-lg fa-alignWithText"></i>
    </button>
</form>
    <!-- if user is using lock and keys -->
<form *ngIf="testLevel === 2 || testLevel === 3" (ngSubmit)="configAuths(configurationAuthForm)" #configurationAuthForm="ngForm">
    <div *ngFor="let auth of auths" class="keyLockComboContain{{ auth }}">
        <label for="fname">Lock and key combo {{ auth }}</label><br />
        <input  required disabled
                [(ngModel)]="auths[auth - 1]" 
                ngModel name="lock{{ auth }}" 
                type="text"
                style="width:10%; text-align:right;"> : 
        <input  required 
                ngModel name="key{{ auth }}" 
                type="text" value="{{ randomWordArray[auth - 1] }}" 
                placeholder="{{ randomWordArray[auth - 1] }}" style="width:30%">
    </div>
    <button type="submit">Next <i class="fas fa-angle-double-right fa-lg fa-alignWithText"></i></button>
</form>