<h1>Register</h1>
    <label for="email">Email:</label><br />
    <input type="text" name="email" value="" placeholder="example@example.com" style="width:70%"><br />
    <label for="tempPass">Temporary password:</label><br />
    <input type="password" name="tempPass" value="" placeholder="$tr0ngTEMPpasswordddd" style="width:70%"><br />
    <!-- <a routerLink="/register"> -->
    <button type="submit" (click)="sendEmail()">Next <i class="fas fa-angle-double-right fa-lg fa-alignWithText"></i></button>
    <!-- </a> -->