<h1>Register test</h1>
    <form>
        <label for="email">Email:</label><br />
        <input required ngModel email name="email" #email="ngModel" type="email" value="" placeholder="example@example.com" style="width:70%"><br />
        <!-- error for email -->
        <div class="alert alert-danger" *ngIf="email.touched && !email.valid && email.errors?.email">
            Make sure this is a valid email
        </div>
        <button type="submit" (click)="registerTestUser(email.value)">Next <i class="fas fa-angle-double-right fa-lg fa-alignWithText"></i></button>
          <div *ngIf="showSuccess" class="alert alert-success" role="alert">
            Success! Redirecting to dashboard...
          </div>
          <div *ngIf="showFail" class="alert alert-danger" role="alert">
            Failure, please try again
          </div>
          <div *ngIf="showInit" class="alert alert-info" role="alert">
            This account has already been initialized<br />
            Please login using the form to the left
          </div>
    </form>