<h1>Register</h1>
    <form>
        <label for="email">Email:</label><br />
        <input required ngModel email name="email" #email="ngModel" type="email" value="" placeholder="example@example.com" style="width:70%"><br />
        <!-- error for email -->
        <div class="alert alert-danger" *ngIf="email.touched && !email.valid && email.errors?.email">
            Make sure this is a valid email
        </div>

        <label for="tempPass">Temporary password:</label><br />
        <input required ngModel password name="tempPass" #tempPass="ngModel" type="password" value="" placeholder="$tr0ngTEMPpasswordddd" style="width:70%"><br />
        <!-- error for tempPass -->
        <div class="alert alert-danger" *ngIf="tempPass.touched && !tempPass.valid">
            Make sure this is a strong password
        </div>

        <label for="confirmPass">Confirm password:</label><br />
        <input required ngModel password name="confirmPass" #confirmPass="ngModel" (keyup)="validateRegistration(email.value, tempPass.value, confirmPass.value)" type="password" value="" placeholder="Confirm $tr0ngTEMPpasswordddd" style="width:70%"><i class="fas fa-check-square fa-lg fa-alignWithText" style="color:rgba(255, 255, 255, .6);" *ngIf="confirmPass.touched && !validateRegistration(email.value, tempPass.value, confirmPass.value) === false"></i><br />
    </form>