<h1>Practice</h1>
<button type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">View your keys</button>
<div class="collapse" id="collapseExample">
    <li *ngFor="let key of keys" id="key-list">
        <span *ngIf="key[0] <= 9" style="padding-right:10px;">
            {{ key[0] }}
        </span>
        <span *ngIf="key[0] > 9">
            {{ key[0] }}
        </span>
        -> <span style="padding-left:12px; text-align:right;">{{key[1] }}</span>
    </li>
</div>

<form (ngSubmit)="contLogin(contLoginForm.value)" #contLoginForm="ngForm" *ngIf="!initLogin">
    <label for="email">Email:</label><br />
    <input disabled required ngModel fakeEmail name="fakeEmail" #fakeEmail="ngModel" type="email" style="width:70%" [(ngModel)]="userConstants.Email" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"><br />

    <!-- if the testLevel is 1 -->
    <div id="testLevel1" *ngIf="this.userConstants.TestLevel === 1">
        <label for="locks">Password:</label><br />
        <input autofocus required ngModel tempPass name="tempPass" #tempPass="ngModel" type="password" style="width:70%" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"><br />
    </div>

    <!-- if the testLevel is 2 or 3 -->
    <div id="testLevel2-3" *ngIf="this.userConstants.TestLevel === 2 || this.userConstants.TestLevel === 3">
        <label for="locks">Locks: {{ locksString }}</label>&nbsp;<i (click)="refreshLocks()" title="Refresh the locks" class="fas fa-sync"></i><br />
        <input autofocus required ngModel keys name="keys" [(ngModel)]="authInput" type="password" style="width:70%" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"><br />
    </div>

        <!-- if the loginstate is unknown -->
    <div class="alert alert-danger" role="alert" *ngIf="this.userConstants.TestLevel === 4">
        {{  errorMessage }}
    </div>

    <!-- if the form is has aready been submitted  -->
    <!-- <button [disabled]="!ngForm.valid" type="submit" *ngIf="!initLogin">Login <i class="fas fa-angle-double-down fa-lg fa-alignWithText"></i></button> -->
    <button type="submit">Login <i class="fas fa-angle-double-down fa-lg fa-alignWithText"></i></button>
    <div *ngIf="showLoading" class="alert alert-info">
        Authenticating... <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
        Success!
    </div>
    <div *ngIf="showFail" class="alert alert-danger" role="alert">
        Failure, please try again
    </div>
</form>
