/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,400i,600,700,900');

*{
    font-family: 'Titillium Web', sans-serif;
    font-size:18px;
}

body{
    /* 1 - nice lightish orange */
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    /* 3 - lighter green 
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); */
    /* 2 - Nice lighter blue 
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
    /* 4 - super light green 
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);*/
    background-attachment: fixed;
}

h1{
    color:rgba(0, 0, 0, .65);
    font-weight:600;
}

a{
    color:#024c8c;
}

a:hover{
    text-decoration:none;
    color:#5c1d00;
}

input,
button,
.button,
a,
.small{
    transition: all 0.3s ease 0s;
}

label{
    font-size:24px;
    margin-bottom:2px;
}
/* 
input[type=text]{
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: rgba(255,255,255,0.3);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
} 

input[type=text]:focus, textarea:focus {
    outline:0px !important;
    -webkit-appearance:none;
    border: 1px solid rgba(1, 27, 48, 0.3);
    background-color: rgba(255,255,255,0.52);
}
*/

input[type=text],
input[type=password],
input[type=email]{
    background-color:transparent;
    border:none;
    border-bottom: 1px solid rgba(0,0,0,.3);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 12px;
    margin-bottom:18px;
    font-family: 'Titillium Web', sans-serif;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus,
button:focus,
button[type=submit]:hover {
    outline:0px !important;
    -webkit-appearance:none;
    border-bottom: 1px solid rgba(19, 76, 122, 0.65);
}
/* 
button[type=submit]{
    font-size:24px;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: rgba(255,255,255,0.3);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
}

button[type=submit]:hover{
    border: 1px solid rgba(1, 27, 48, 0.3);
    background-color: rgba(255,255,255,0.52);
} 
*/

button[type=submit],
.button{
    font-size:24px;
    background-color:transparent;
    border:none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 12px;
    padding-left:0px;
    margin-bottom:18px;
}

button[type=submit]:hover,
.button:hover{
    color: rgba(19, 76, 122, 0.85);
} 
.alert {
    border-radius: 0;
    border: none;
}

.alert-danger {
    color: #9a1f1f;
    background-color:rgb(253, 214, 190);
}

.alert-success{
    
}

input.ng-invalid.ng-dirty.ng-touched{
    border-bottom: 1px dashed rgba(145, 0, 0, 0.8) !important;
}

.fa-alignWithText{
    vertical-align: -4px;
}

.small{
    color: rgba(3, 22, 37, 0.85);
}

.small:hover{
    color: rgba(19, 76, 122, 0.85);
}


/* .main-content{

} */

.vertical-mid{
    padding-top:30vh;
    padding-bottom:10vh;
}

.small-pad-top{
    padding-top:5vh;
}

.left-side{
    border-right: 1px solid rgba(0,0,0,.3);
}

.right-side{
    padding-left:10%;
}

/* Media queries */
@media (max-width: 768px) {
    .vertical-mid{
        padding-top:5vh;
        padding-bottom:5vh;
    }

    .left-side{
        border-right:none;
        border-bottom: 1px solid rgba(0,0,0,.3);
        padding-bottom:5vh;
    }

    .right-side{
        padding-top:5vh;
        padding-left:15px;
    }
}