<div class="row vertical-mid">
  <div class="col-md-5 left-side" [ngSwitch]="loginState">
    <!-- <app-login *ngSwitchCase="1" (submit)="changeLoginState(2)"></app-login> -->
    <app-login *ngSwitchCase="1"></app-login>
    <app-login-success *ngSwitchCase="2"></app-login-success>
  </div>
  <div class="col-md-7 right-side" [ngSwitch]="registerState">
    <!-- <h1>Users are: {{ users | json }}</h1> -->
    <app-register-start *ngSwitchCase="1" (submit)="changeRegisterState(2)"></app-register-start>
    <app-register-continue *ngSwitchCase="2"></app-register-continue>
  </div>
</div>
<div class="row">
  <div class="col-md-12 vertical-mid">
    <h1>What this is and how this works</h1>
    <div class="row">
      <div class="col-md-6">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum aperiam asperiores praesentium itaque quas veritatis quos suscipit neque iste quo, eaque, sequi totam harum beatae! Veniam quod dicta fugiat quo ex possimus odio alias distinctio nobis facere suscipit adipisci dolore, et repudiandae voluptas ratione ipsa similique. Cupiditate pariatur aut quam veritatis iusto placeat fugiat, debitis quisquam vitae deleniti! Exercitationem, illo.
      </div>
      <div class="col-md-6">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum iste odit libero aut laudantium provident error commodi explicabo, facere aliquid voluptatem sit placeat aperiam modi minus nisi, dolore voluptatum quia sequi reprehenderit voluptas soluta. Explicabo ad accusamus veritatis tempore cumque excepturi illo. Quae rerum explicabo mollitia nostrum corporis voluptates eaque labore quas, iste, dignissimos sunt. Repudiandae distinctio doloribus officia neque?
      </div>
    </div>
  </div>
</div>